# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# intellij-stuff
*.iml
.idea/*

# gradle stuff
.gradle/*

# build dir
build/*
client/build/*
server/build/*
actor/build/*

# compiled python
*.pyc

# pytest stuff
*.cache
*.pytest_cache
